.equipo{
    width: 100%;
    background-color: #d9f7e9;
    /* le damos un espacio hacia dentro  */
    padding: 32px;
    /* on box sizing corregimos que el elemnto se salga de la pagina */
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;   
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57c278;
    /* con esta propiedad solo ocupara el espacio necesario del border-bottom */
    display: inline-block;
    /* separa el subrayado */
    padding-bottom: 8px;
}