.equipo{
    width: 100%;
    /* le damos un espacio hacia dentro  */
    padding: 32px;
    /* on box sizing corregimos que el elemnto se salga de la pagina */
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;   
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    /* con esta propiedad solo ocupara el espacio necesario del border-bottom */
    display: inline-block;
    /* separa el subrayado */
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    /* pone los elmentos con espacio uno del lado del otroi */
    justify-content: space-evenly;
    /* rope la linea y los acomoda debajo para que no se amontonen */
    flex-wrap: wrap;
}