body {
  margin: 0;
 /* ponemos el estilo de las fuentes prata y montserrat importadas
 todos los elmentos dentro de body tendran esta fuente */
  font-family: 'Prata', serif;
}
/* este estilo de css no se ocupara  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */